.vbox-background {
    -fx-background-color: #f0f0f0;
}

.label-title {
    -fx-font-size: 14px;
    -fx-font-weight: bold;
}

.combo-box {
    -fx-pref-width: 200px;
}

.button-continue:hover {
    -fx-background-color: #005EA6;
}
